<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletefile</servlet-name>
        <servlet-class>deletefile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>.download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>share</servlet-name>
        <servlet-class>share</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteuser</servlet-name>
        <servlet-class>deleteuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletefile</servlet-name>
        <url-pattern>/deletefile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>share</servlet-name>
        <url-pattern>/share</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteuser</servlet-name>
        <url-pattern>/deleteuser</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>This is the description of my J2EE component</description>
        <display-name>This is the display name of my J2EE component</display-name>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>SendMail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedverify</servlet-name>
        <servlet-class>feedverify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/servlet/SendMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/SendEmail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>check2</servlet-name>
        <servlet-class>check2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>welcome</servlet-name>
        <servlet-class>welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupverify</servlet-name>
        <servlet-class>signupverify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkprofileServlet</servlet-name>
        <servlet-class>checkprofileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateprofile</servlet-name>
        <servlet-class>updateprofile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check2</servlet-name>
        <url-pattern>/check2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupverify</servlet-name>
        <url-pattern>/signupverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkprofileServlet</servlet-name>
        <url-pattern>/checkprofileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateprofile</servlet-name>
        <url-pattern>/updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedverify</servlet-name>
        <url-pattern>/feedverify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
